In [2]:
import csv

In [3]:
pathArchivoCSV='C:/Users/andre/ProcesamientoArchivosPython/ArchivosCSV/Empleados.csv'

#newline lectura linea a linea
with open(pathArchivoCSV, newline="") as archivo01:
    
    '''
     Con el Delimiter definimos la estructura de nuestro archivo, separado por comas,
     NUESTRO ARCHIVO ESTA SEPARADO POR ';' AL PASARLE ESO AL DELIMITER NOS CONVIERTE
     TODO A COMAS. Si tenemos otro archivo separado por comas, le pasamos la coma en vez
     de  ';' , eso porque no lo guardamos en utf-8
     '''
    #csv.DictReader para diccionarios, csv.reader para listas
    lecturaDeCampos=csv.DictReader(archivo01, delimiter=";")
    
    for RecorridoDeFila in lecturaDeCampos:
        
        print(RecorridoDeFila)

{'N° Empleado': '5489', 'Nombre': 'Juan', 'Apellido/s': 'Perez', 'Fecha de Nacimiento': '10/12/1994', 'Pais de Nacimiento': 'Argentina', 'Código de Contrato': '976', 'Sueldo': '34.000'}
{'N° Empleado': '5490', 'Nombre': 'Jimena', 'Apellido/s': 'Rodriguez', 'Fecha de Nacimiento': '21/2/1993', 'Pais de Nacimiento': 'Brasil', 'Código de Contrato': '977', 'Sueldo': '43.000'}
{'N° Empleado': '5491', 'Nombre': 'Alberto', 'Apellido/s': 'Escaloni', 'Fecha de Nacimiento': '11/3/1884', 'Pais de Nacimiento': 'Argentina', 'Código de Contrato': '978', 'Sueldo': '45.000'}
{'N° Empleado': '5492', 'Nombre': 'Martina', 'Apellido/s': 'Gutierrez', 'Fecha de Nacimiento': '3/4/1990', 'Pais de Nacimiento': 'Uruguay', 'Código de Contrato': '979', 'Sueldo': '52.000'}

In [7]:
'''
Podemos realizar la lectura de un archivo csv con Pandas(Libreria
para la manipulacion de archivos de forma mas eficiente y con mayor
visualizacion)

'''
import pandas as pd

dataFrame=pd.read_csv(pathArchivoCSV, encoding='latin-1')

print(dataFrame)

  N° Empleado;Nombre;Apellido/s;Fecha de Nacimiento;Pais de Nacimiento;Código de Contrato;Sueldo
0    5489;Juan;Perez;10/12/1994;Argentina;976;34.000
1  5490;Jimena;Rodriguez;21/2/1993;Brasil;977;43.000
2  5491;Alberto;Escaloni;11/3/1884;Argentina;978;...
3  5492;Martina;Gutierrez;3/4/1990;Uruguay;979;52...

In [8]:
display(dataFrame)

  N° Empleado;Nombre;Apellido/s;Fecha de Nacimiento;Pais de Nacimiento;Código de Contrato;Sueldo
0    5489;Juan;Perez;10/12/1994;Argentina;976;34.000
1  5490;Jimena;Rodriguez;21/2/1993;Brasil;977;43.000
2  5491;Alberto;Escaloni;11/3/1884;Argentina;978;...
3  5492;Martina;Gutierrez;3/4/1990;Uruguay;979;52...

In [9]:
dataFrame=pd.read_csv(pathArchivoCSV, encoding='latin-1', sep=";")

display(dataFrame)

,N° Empleado,Nombre,Apellido/s,Fecha de Nacimiento,Pais de Nacimiento,Código de Contrato,Sueldo
0,5489,Juan,Perez,10/12/1994,Argentina,976,34.0
1,5490,Jimena,Rodriguez,21/2/1993,Brasil,977,43.0
2,5491,Alberto,Escaloni,11/3/1884,Argentina,978,45.0
3,5492,Martina,Gutierrez,3/4/1990,Uruguay,979,52.0