In [12]:
import pandas as pd
import io
import requests


url="https://raw.githubusercontent.com/cs109/2014_data/master/countries.csv"

#Creamos un objeto StringIO y decodificamos al formato latino, pero antes usamos el 
#metodo .content para obtener los bytes de la solicitud
solicitud=requests.get(url).content

dataFrame=pd.read_csv(io.StringIO(solicitud.decode('utf-8')))

display(dataFrame)

       Country         Region
0      Algeria         AFRICA
1       Angola         AFRICA
2        Benin         AFRICA
3     Botswana         AFRICA
4      Burkina         AFRICA
..         ...            ...
189   Paraguay  SOUTH AMERICA
190       Peru  SOUTH AMERICA
191   Suriname  SOUTH AMERICA
192    Uruguay  SOUTH AMERICA
193  Venezuela  SOUTH AMERICA

[194 rows x 2 columns]

In [13]:
'''
Otra forma de realizar lo mismo pero en vez que el objeto String solicitu un buffer de bytes
lo solicite en texto
'''
from io import StringIO
import pandas as pd
import requests

url='https://raw.githubusercontent.com/cs109/2014_data/master/countries.csv'

solicitud=requests.get(url).text

dataFrame=pd.read_csv(StringIO(solicitud))

display(dataFrame)

       Country         Region
0      Algeria         AFRICA
1       Angola         AFRICA
2        Benin         AFRICA
3     Botswana         AFRICA
4      Burkina         AFRICA
..         ...            ...
189   Paraguay  SOUTH AMERICA
190       Peru  SOUTH AMERICA
191   Suriname  SOUTH AMERICA
192    Uruguay  SOUTH AMERICA
193  Venezuela  SOUTH AMERICA

[194 rows x 2 columns]

In [14]:
'''
Si nos queremos abstraer de todo lo anterior dejamos que pandas lo implemente, pero cuando 
trabajemos mas en profundidad sobre los datos tendremos que eficientizar nuestro codigo posiblemente
'''
import pandas as pd
train = pd.read_table('https://raw.githubusercontent.com/cs109/2014_data/master/countries.csv')
train.head()

    Country,Region
0   Algeria,AFRICA
1    Angola,AFRICA
2     Benin,AFRICA
3  Botswana,AFRICA
4   Burkina,AFRICA