In [1]:
import csv

In [10]:
pathArchivoCSV='C:/Users/andre/ProcesamientoArchivosPython/ArchivosCSV/Empleados_Backup.csv'


with open(pathArchivoCSV, newline="" ) as archivo01:
    
    lecturaDeCampos=csv.DictReader(archivo01, delimiter=";" )
    
    for RecorridoDeFila in lecturaDeCampos:
        
        print(RecorridoDeFila)

{'N° Empleado': '5489', 'Nombre': 'Juan ', 'Apellido/s': 'Perez', 'Fecha De Nacimiento': '10/12/1994', 'Pais De Nacimiento': 'Argentina', 'Código De Contrato': '976', 'Sueldo': '34.000'}
{'N° Empleado': '5490', 'Nombre': 'Marcela', 'Apellido/s': 'Biriba', 'Fecha De Nacimiento': '21/2/1993', 'Pais De Nacimiento': 'Brasil', 'Código De Contrato': '977', 'Sueldo': '43.000'}
{'N° Empleado': '5491', 'Nombre': 'Alberto', 'Apellido/s': 'Escaloni', 'Fecha De Nacimiento': '11/3/1994', 'Pais De Nacimiento': 'Argentina', 'Código De Contrato': '978', 'Sueldo': '45.000'}
{'N° Empleado': '5492', 'Nombre': 'Martina', 'Apellido/s': 'Gutierrez', 'Fecha De Nacimiento': '3/4/1990', 'Pais De Nacimiento': 'Uruguay', 'Código De Contrato': '979', 'Sueldo': '52.000'}

In [11]:
'''
POR ALGUNA RAZON EL REGISTRO NO SE ESTA GUARDANDO CORRECTAMENTE EN SUS CAMPOS, DESCONOZCO EL PROBLEMA
YA QUE YO UTILIZO PANDAS, NOS ABSTRAEMOS DE ESTOS PROBLEMAS, BUSCAR LA SOLUCION Y AGREGARLO EN LOS
COMENTARIOS.
'''
'''
with open(pathArchivoCSV,'a',newline='') as archivo01:
    
    campos=['N° Empleado','Nombre','Apellido','Fecha De Nacimiento','Pais de Nacimiento','Código De Contrato','Sueldo']
    
    registro01={'N° Empleado': 5499 , 'Nombre': 'Gaston' , 'Apellido':'Damasco' , 'Fecha De Nacimiento':'4/8/2000' , 'Pais de Nacimiento':'Argentina' , 'Código De Contrato':982 , 'Sueldo':33.000}
    
    nuevoRegistro= csv.DictWriter(archivo01,fieldnames=campos)
    
    nuevoRegistro.writerow(registro01)
'''

"\nwith open(pathArchivoCSV,'a',newline='') as archivo01:\n    \n    campos=['N° Empleado','Nombre','Apellido','Fecha De Nacimiento','Pais de Nacimiento','Código De Contrato','Sueldo']\n    \n    registro01={'N° Empleado': 5499 , 'Nombre': 'Gaston' , 'Apellido':'Damasco' , 'Fecha De Nacimiento':'4/8/2000' , 'Pais de Nacimiento':'Argentina' , 'Código De Contrato':982 , 'Sueldo':33.000}\n    \n    nuevoRegistro= csv.DictWriter(archivo01,fieldnames=campos)\n    \n    nuevoRegistro.writerow(registro01)\n"

In [22]:
import os
import pandas as pd
import numpy as np

dataFrame=pd.read_csv(pathArchivoCSV, encoding='latin-1', sep=";")

dataFrame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   N° Empleado          6 non-null      int64
 1   Nombre               6 non-null      object
 2   Apellido/s           6 non-null      object
 3   Fecha De Nacimiento  6 non-null      object
 4   Pais De Nacimiento   6 non-null      object
 5   Código De Contrato   6 non-null      int64
 6   Sueldo               6 non-null      float64
dtypes: float64(1), int64(2), object(4)
memory usage: 464.0+ bytes

In [16]:
'''
Podemos observar que hay columnas con tipo «object» cuando debería ser un float u otro tipo 
(por ejemplo: Apellido/s, fecha de Nacimiento, etc ).
Esto es porque hay filas que no tienen valor para esas columnas, luego veremos que hacer con ellas,
por ahora vamos a poner los tipos adecuados a cada columna .
'''

dataFrame=dataFrame.astype({'N° Empleado': 'int','Nombre': 'string', 'Apellido/s':'string', 'Fecha De Nacimiento':'string', 'Pais De Nacimiento':'string', 'Código De Contrato':'float64','Sueldo': 'float64'})

dataFrame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   N° Empleado          4 non-null      int32
 1   Nombre               4 non-null      string
 2   Apellido/s           4 non-null      string
 3   Fecha De Nacimiento  4 non-null      string
 4   Pais De Nacimiento   4 non-null      string
 5   Código De Contrato   4 non-null      float64
 6   Sueldo               4 non-null      float64
dtypes: float64(2), int32(1), string(4)
memory usage: 336.0 bytes

In [ ]:
'''
Sería valido que hubiesen registros incompletos, deberiamos limpiarlos o depurarlos
para tener todo estandarizado y que la manipulacion sea lo mayormente efectiva
Página de Referencia que recomiendo:
https://darecode.com/blog/analisis-de-datos-libreria-pandas-python/
'''

In [17]:
display(dataFrame)

,N° Empleado,Nombre,Apellido/s,Fecha De Nacimiento,Pais De Nacimiento,Código De Contrato,Sueldo
0,5489,Juan,Perez,10/12/1994,Argentina,976.0,34.0
1,5490,Marcela,Biriba,21/2/1993,Brasil,977.0,43.0
2,5491,Alberto,Escaloni,11/3/1994,Argentina,978.0,45.0
3,5492,Martina,Gutierrez,3/4/1990,Uruguay,979.0,52.0

In [18]:
'''
Insertamos Nuevos Registros a Nuestra DB
'''
#Los campos de nuestra db
campos=['N° Empleado','Nombre','Apellido/s','Fecha De Nacimiento','Pais De Nacimiento','Código De Contrato','Sueldo']

#Agregamos Registros con pandas
registros=[
    [5493,'Andres','Weitzel','10/08/1996','Argentina',980,55.000],
    [5494,'Romina','Gutierrez','09/04/1992','Argentina',981,50.000]
]

#Le indicamos los campos a pandas
dataFrame=pd.DataFrame(registros,columns=campos)

#Guardamos los registros en el archivo csv, importante agregar el a para que no se sobreescriban los datos
# header=not os.path.isfile(path) IMPORTANTE PARA QUE NO AGREGUE LA CABECERA
#index=None IMPORTANTE PARA QUE NO AGREGUE UN INDICE POR REGISTRO Y NOS CORRA UNA COLUMNA
dataFrame.to_csv(pathArchivoCSV,index=None, mode='a', header=not os.path.isfile(pathArchivoCSV) , sep=";")

In [19]:
dataFrame=pd.read_csv(pathArchivoCSV, encoding='latin-1', sep=";")

display(dataFrame)

,N° Empleado,Nombre,Apellido/s,Fecha De Nacimiento,Pais De Nacimiento,Código De Contrato,Sueldo
0,5489,Juan,Perez,10/12/1994,Argentina,976,34.0
1,5490,Marcela,Biriba,21/2/1993,Brasil,977,43.0
2,5491,Alberto,Escaloni,11/3/1994,Argentina,978,45.0
3,5492,Martina,Gutierrez,3/4/1990,Uruguay,979,52.0
4,5493,Andres,Weitzel,10/08/1996,Argentina,980,55.0
5,5494,Romina,Gutierrez,09/04/1992,Argentina,981,50.0