In [15]:
import mysql.connector

In [16]:
db=mysql.connector.connect(
    
    host="localhost",
    user="root",
    password="",
    database="test01_Python"
)

cursor=db.cursor()

cursor.execute("SHOW TABLES")

#Recorremos las dbs
for tablas in cursor:
    print(tablas)

('clientes',)
('compras',)
('productos',)

In [17]:

cursor.execute("SELECT * FROM clientes")

#Recorremos las dbs
for tablas in cursor:
    print(tablas)

(1, 'Javier', 'Navarrete', 21)
(2, 'Hector', 'Gustamante', 26)
(3, 'Romina', 'Pereira', 19)
(4, 'Juan', 'La Paso', 56)

In [18]:
cursor.execute("SELECT id,apellido FROM clientes")

#Recorremos las dbs
for tablas in cursor:
    print(tablas)

(1, 'Navarrete')
(2, 'Gustamante')
(3, 'Pereira')
(4, 'La Paso')

In [19]:
cursor.execute("SELECT id,apellido FROM clientes limit 1")

#Recorremos las dbs
for tablas in cursor:
    print(tablas)

(1, 'Navarrete')