In [1]:
import mysql.connector

In [2]:
db=mysql.connector.connect(
    
    host="localhost",
    user="root",
    password="",
    database="test01_Python"
)

cursor=db.cursor()

cursor.execute("SHOW TABLES")

#Recorremos las dbs
for tablas in cursor:
    print(tablas)

('clientes',)
('compras',)
('productos',)

In [3]:
'''
PREVENIR SQL INJECTION
'''
cursor=db.cursor()

query="SELECT * FROM clientes ORDER BY nombre"
       
cursor.execute(query)

#Recorremos las dbs
for tablas in cursor:
    print(tablas)

(2, 'Hector', 'Gustamante', 26)
(1, 'Javier', 'Navarrete', 21)
(4, 'Juan', 'La Paso', 56)
(3, 'Romina', 'Pereira', 19)

In [4]:
'''
PREVENIR SQL INJECTION
'''
cursor=db.cursor()

query="SELECT * FROM clientes ORDER BY edad"
       
cursor.execute(query)

#Recorremos las dbs
for tablas in cursor:
    print(tablas)

(3, 'Romina', 'Pereira', 19)
(1, 'Javier', 'Navarrete', 21)
(2, 'Hector', 'Gustamante', 26)
(4, 'Juan', 'La Paso', 56)

In [9]:
'''
PREVENIR SQL INJECTION
'''
cursor=db.cursor()

query="SELECT * FROM clientes ORDER BY edad DESC"
       
cursor.execute(query)

#Recorremos las dbs
for tablas in cursor:
    print(tablas)

(4, 'Juan', 'La Paso', 56)
(2, 'Hector', 'Gustamante', 26)
(1, 'Javier', 'Navarrete', 21)
(3, 'Romina', 'Pereira', 19)