In [1]:
import mysql.connector

In [2]:
db=mysql.connector.connect(
    
    host="localhost",
    user="root",
    password="",
    database="test01_Python"
)

cursor=db.cursor()

cursor.execute("SHOW TABLES")

#Recorremos las dbs
for tablas in cursor:
    print(tablas)

('clientes',)
('compras',)
('productos',)

In [9]:

cursor=db.cursor()

query="SELECT clientes.id, clientes.nombre, productos.id, productos.nombre FROM clientes INNER JOIN productos ON clientes.id = productos.id"
       
cursor.execute(query)

#Recorremos las dbs
for tablas in cursor:
    print(tablas)